
body{
    margin:0;
    font-family: Roboto;
}

header {
    background:#03a9f4;
    text-align: center;
}

.logo {
    color:#fff;
    font-size: 40px;
    font-family:Anton;    
}

header input {
    font-size: 20px;
    margin: 20px 0px;
}

.news_item {
    padding:20px;
    box-sizing: border-box;
    border-bottom:1px solid grey
}


